* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color:#EF5F4C;
  --shape-transparency: #ffffff8f;
  --background-color: #ffffff;
  --suface-color: #f5f5f5;
  --skeleton-color: #d9d9d9;
  --text-color-primary: #313131;
  --text-color-secundary: #6c6c6c;
  --font-family:"Poppins", sans-serif;
  --text-lg: bold 32px/125% var(--font-family);
  --text: 16px/1.5 var(--font-family);
  --text-md: 14px/175% var(--font-family);
  --text-sm: 12px/175% var(--font-family);
}

body{
  font: var(--text-lg);
  color: var(--text-color-secundary);
  background-color: var(--background-color);
}

